.about-left img{
    width:500px;
    height:500px;
    object-fit:cover;
    border:2px solid #fff;
    border-radius:50%;
}
.about-left img:hover{
    transform:scale(1.05);
    transition:0.6s
}
.about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* spacing between profile image and GitHub icon */
  }
  
  .about-left .git {
    width: 60px;
    height: 60px;
    border:none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left:20px;
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
  }
  
  .about-left .git:hover {
    transform: scale(1.2);
    transition:0.3s;
  }
  
.about{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:80px;
    margin:80px 170px;
}
.about-title{
    position:relative;
}
.about-title h1{
    padding:0px 30px;
    font-size:80px;
    font-weight:600;
    background: linear-gradient(270deg, #48CAE4 1%, #014872 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-title img{
    position:absolute;
    bottom:0;
    right:0;
    z-index:-1;
}
.about-sections{
    display:flex;
    gap:80px;
}
.about-right{
    display:flex;
    flex-direction:column;
    gap:80px;
}
.about-para{
    display:flex;
    flex-direction:column;
    gap:20px;
    font-size:24px;
    font-weight:500;
}
.about-skills{
    display:flex;
    flex-direction:column;
    gap:20px;  
}
.about-skill{
    display:flex;
    gap:50px;
    align-items:center;
    transition:0.3s
}
.about-skill p{
    min-width:150px;
    font-size:24px;
    font-weight:500;
}
.about-skill hr{
    outline:none;
    border:none;
    width:50%;
    height:8px;
    border-radius:50px;
    background:linear-gradient(267deg,#014872 0.36%,#48CAE4 102.06%);
}
.about-skill:hover{
    transform:scale(1.05);
    transition:0.4s;
}
@media(max-width:768px){
    .about{
        gap:80px;
        margin:50px 70px;
        align-items:start;
    }
    .about-title h1{
        font-size:50px;
        padding:0;
    }
    .about-title img{
        width:120px;
        right:-30px;
    }
    .about-sections{
        flex-direction:column;
    }
    .about-left{
        display:none;
    }
    .about-para{
        font-size:20px;
        line-height:32px;
    }
    .about-skill{
        gap:20px;
        align-items:center;
    }
    .about-skill p{
        font-size:22px;
    }
    .about-skill hr{
        height:6px;
    }
    .about-left .paras{
        display:none;
    }
    .about-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; /* spacing between profile image and GitHub icon */
      }
      
      .about-left .git {
        width: 60px;
        height: 60px;
        border:none;
        cursor: pointer;
        transition: transform 0.2s ease;
        margin-left:20px;
        padding-left:10px;
        padding-top:10px;
        padding-right:10px;
      }
      
      .about-left .git:hover {
        transform: scale(1.2);
        transition:0.3s;
      }
      
}