.contact{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:80px;
    margin:80px 170px;
}
.contact-title{
    position:relative;
}
.contact {
    color: var(--text-color) !important;
  }
  
  .contact-left h1, .contact-left p, .contact-details p, .contact-right label, .contact-right input, .contact-right textarea {
    color: var(--text-color) !important;
  }
  
  
.contact-title h1{
    padding:0px 30px;
    font-size:100px;
    font-weight:800;
    background: linear-gradient(270deg, #48CAE4 1%, #014872 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-title img{
    position:absolute;
    bottom:0;
    right:0;
    z-index:-1;
}
.contact-section{
    display:flex;
    gap:150px;
}
.contact-left{
    display:flex;
    flex-direction:column;
    gap:30px;
}
.contact-left h1{
    font-size:80px;
    font-weight:700;
    background: linear-gradient(270deg, #014872 10%, #48CAE4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width:550px;
    color:#D8D8D8;
    font-size:24px;
    line-height:35px;
}
.contact-details:{
    display:flex;
    flex-direction:column;
    gap:30px;
    color:#D8D8D8;
    font-size:22px;
}
.contact-detail{
    display:flex;
    gap:40px;
    align-items:center;
    margin:40px;
}
.contact-detail p{
    font-size:25px;
}

.contact-right{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
}
.contact-right label{
    color:#D8D8D8;
    font-size:30px;
    font-weight:500;
}
.contact-right input{
    border:none;
    width:700px;
    height:78px;
    padding-left:20px;
    border-radius:4px;
    background:grey;
    color:#A0A0A0;
    font-size:25px;
}
.contact-right textarea{
    width:650px;
    border:none;
    padding:25px;
    border-radius:4px;
    background:grey;
    color:#fff;
    font-size:25px;
}
.contact-submit{
    width:140px;
    height:60px;
    font-size:20px;
    border-radius:10px;
    background: linear-gradient(270deg, #014872 10%, #48CAE4 100%);
    color:black;
    border:none;
    cursor:pointer;
}
.contact-submit:hover{
    transform:scale(1.15);
    transition:0.3s;
    background: linear-gradient(270deg, #fff 10%, #48CAE4 100%);
    color:black;


}
.contact-detail p:hover{
    transform:scale(1.15);
    transition:0.4s;
    cursor:pointer;
}
.contact-detail img:hover{
    transform:scale(1.25);
    transition:0.4s;
    cursor:pointer;
}
.submission-message {
   
    padding: 15px;
    border: none;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    color: black;
    border-radius: 5px;
    text-align: center;
    font-size:20px;
  }
  @media(max-width:768px){
    .contact{
        gap:50px;
        margin:50px 70px;
        align-items:start;    
    }
    .contact-title h1{
        padding:0;
        font-size:50px;
        font-weight:600;
    }
    .contact-title img{
        width:130px;
        margin-right:-20px;
    }
    .contact-section{
        flex-direction:column;
    }
    .contact-left h1{
        font-size:54px;
    }
    .contact-left p{
        font-size:22px;
    }
    .contact-detail{
        gap:20px;
    }
    .contact-detail img{
        width:25px;
    }
    .contact-right label{
        font-size:22px;
    }
    .contact-right input{
        width:100%;
        font-size:22px;
    }
    .contact-right textarea{
        width:95%;
        font-size:22px;
    }
    .contact-submit{
        font-size:18px;
        padding:15px 40px;
    }
    .contact-right{
        margin-top:-80px;
    }
  }
  
 
